ion-input {
  font-size: 40px;
}

ion-button {
  font-size: 18px;
  height: 45px;
}

ion-item {
  border: 2px rgb(25, 211, 0) solid;
  border-radius: 5px;
}

ion-badge {
  font-size: 19px;
  font-weight: normal;
}

span {
  padding-inline: 3px;
}
